@page "/"

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)">

    <h1>Welcome to my Blazor App!</h1>

    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(1)">
        <Counter></Counter>
    </Animate>

</Animate>
